<div class="container-fluid col-md-4 matcher">
  <div class="row-fluid">
    <div class="centering text-center">
      <h1 class="h4">Por quanto tempo ficariam juntos?</h1>
      <%= form_for :matcher, url: matcher_show_url, method: :get, enforce_utf8: false do |form| %>
        <div class="form-row form-row-new">
          <div class="col">
            <%= form.text_field :first_name, value: @first_name, placeholder: '1ª pessoa', class: 'form-control' %>
          </div>
          <div class="col"></div>
          <div class="col">
            <%= form.text_field :second_name, value: @second_name, placeholder: '2ª pessoa', class: 'form-control'  %>
          </div>
        </div>
        <p><%= form.submit 'Calcular', class: 'btn btn-secondary btn-lg'%></p>
      <% end  %>
      <br>
      <br>
    </div>
  </div>
</div>
