<div class="container-fluid col-md-6 matcher">
  <div class="row-fluid">
    <div class="centering text-center">
      <h2>Quanto tempo juntos?</h2>
      <br>
      <br>
      <%= form_for :matcher, url: matcher_show_url, method: :get do |form| %>
        <div class="form-row">
          <div class="col">
            <%= form.text_field :first_name, value: @first_name, placeholder: 'Primeiro nome', class: 'form-control' %>
          </div>
          <div class="col">
            <%= form.text_field :second_name, value: @second_name, placeholder: 'Segundo nome', class: 'form-control'  %>
          </div>
        </div>
        <br>
        <br>
        <p><%= form.submit 'Calcular', class: 'btn btn-dark btn-lg'%></p>
      <% end  %>
    </div>
  </div>
</div>
